.footer_container{
    position: relative;
    background:black;
    height: 60vh;
    width: 100%;
    color: azure;

    .footer_div{
        background-color: gray;
        position: relative;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
    }
}