html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.53486;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
*{
  box-sizing: border-box;
}
h1{
 font-family: 'Roboto', sans-serif;
 font-weight: 400 !important;                                   
 /* letter-spacing: -0.01em; */
 margin-top: 0;
 color: #404040;
}
ul{
  list-style: none;                                                                                               
}
a{
  text-decoration: none;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     